@import './common/StyleCommon.scss';

.MyPage-AllLayout {
  @include AllLayoutStyle;

  .MyPage-AllLayout__center {
    @include LayoutCenterStyle;

    .LeftContainer {
      @include LeftContainerStyle;
    }

    .RightContainer {
      @include RightContainerStyle;

      .orderText {
        position: relative;
        //left:10px;
        top: 30px;
        width: 100px;
        font-size: 25px;
        font-weight: bold;
        margin-left: 5rem;
      }

      .orderContainer {
        margin-top: 50px;

        .TopCategory {
          width: 100%;
          border-radius: 10px 10px 0px 0px;
          display: grid;
          grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
          height: 40px;
          background-color: #e8e0d6;
          align-items: center;
          text-align: center;

          margin: 0 auto;

          .TopCategory-inner {
          }
        }

        .orderBox {
          padding-bottom: 10px;
          width: 100%;
          margin: 0 auto;
          height: 400px;
          max-height: 450px; /* 스크롤 영역의 최대 높이 설정 */
          overflow-y: auto;
          background-color: #faf4ee;
          border-radius: 0px 0px 10px 10px;

          .orderList {
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            align-items: center;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid rgb(208, 203, 185);

            .Buy-ButtonBox {
              button {
                width: 30px;
              }
            }

            .orderList-priceBox {
            }
          }

          .orderList-ImageBox {
            height: 140px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-right: 10px;

            img {
              width: 100px;
            }

            .orderList-ImageBox__text {
              width: 200px;
            }
          }
        }
      }

      .RentContainer-text {
        margin: 30px 0;
        width: 100px;
        font-size: 25px;
        font-weight: bold;
        margin-left: 5rem;
      }

      .RentContainer {
        .RentTop-Category {
          width: 100%;
          border-radius: 10px 10px 0px 0px;
          display: grid;
          grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
          height: 40px;
          background-color: #e8e0d6;
          margin: 0 auto;
          align-items: center;
          text-align: center;

          .RentCategory-inner {
          }
        }

        .RentBox {
          padding-bottom: 10px;
          width: 100%;
          margin: 0 auto;
          height: 400px;
          max-height: 450px;
          overflow-y: auto;
          background-color: #faf4ee;
          border-radius: 0px 0px 10px 10px;

          .RentList {
            display: grid;
            align-items: center;
            text-align: center;
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid rgb(208, 203, 185);

            .RentList-ImageBox {
              height: 140px;
              display: flex;
              align-items: center;
              gap: 10px;
              padding-right: 10px;

              img {
                width: 100px;
              }

              .RentList-ImageBox__text {
                position: relative;
                width: 200px;
                height: min-content;
              }
            }
            .Rent-ButtonBox {
              button {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
