@mixin Container {
  padding-top: 80px;
  max-width: 1200px;
  padding-bottom: 80px;
  position: relative;
  margin: 0 auto;
}

@mixin FormContainerStyle {
  width: 500px;
  height: 730px;
  position: relative;
  border-radius: 10px;
  padding-top: 50px;

  top: 30px;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 26px gray, -12px -12px 36px white;
}

@mixin Textbox {
  width: 200px;
  height: 50px;
  display: flex;
  margin: 0 auto 30px;
}

.joinContainer {
  @include Container;
  font-family: 'SUITE-Regular';

  .joinContainer-inner {
    @include FormContainerStyle;

    .textContainer {
      @include Textbox;
      p {
        margin: auto;
        font-size: 30px;
      }
    }

    .formBox {
      width: 400px;
      margin: 0 auto;

      .formBox-inner {
        width: 300px;
        height: 95px;
        margin: 0 auto;

        input {
          width: 100%;
          height: 50px;
          margin-top: 10px;
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          border: 2px solid #f7e9d7;
          outline: none;
          font-family: '';
        }

        span {
          width: 260px;
          margin: 0 auto;
          display: flex;
        }
      }

      .buttonContainer {
        width: 210px;
        height: 50px;
        margin: 0 auto;
      }

      .buttonBox {
        width: 200px;
        height: 50px;
        color: black;
        background-color: #f7e9d7;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .uploadFilebox {
      width: 200px;
      padding-bottom: 20px;
      position: relative;
      margin: 0 auto;

      .uploadFilebox-inner {
        width: 200px;
        padding-bottom: 10px;

        span {
          margin-left: 20px;
        }

        input {
          margin-top: 20px;
        }
      }
    }
  }
}
