@import '../Signin/join.scss';

.LoginContainer {
  @include Container;
  font-family: 'SUITE-Regular';

  .loginContainer-inner {
    @include FormContainerStyle;

    .JoinTextContainer {
      @include Textbox;

      p {
        margin: auto;
        font-size: 30px;
      }
    }

    .formBox {
      width: 400px;
      height: 280px;
      margin: 0 auto;

      .formBox-inner {
        width: 300px;
        height: 95px;
        margin: 0 auto;

        input {
          width: 100%;
          height: 50px;
          margin-top: 10px;
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          border: 2px solid #f7e9d7;
          outline: none;
          font-family: 'SUITE-Regular';
        }
      }

      .buttonContainer {
        width: 210px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
      }

      .buttonBox {
        width: 200px;
        height: 50px;
        color: black;
        background-color: #f7e9d7;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }

  .bottomText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
  }
}
