.count {
  margin: 10px 0;
  width: 100%;
  padding: 0 50px;
  font-weight: bold;
  color: #4b2300;
}
hr {
  width: 1200px;
  background-color: #ca9f12;
  height: 2px;
  border: none;
  margin-bottom: 15px;
}
.Search-wrapper {
  width: 1200px;
  margin: auto;
  min-height: 100vh;
  padding-top: 100px;
}
.SearchPage {
  display: flex;
  border-bottom: 2px solid #ca9f12;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

// 책 표지
.SearchPage__Images {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 250px;

  img {
    height: 95%;
    box-shadow: 3px 3px 3px 1px gray;
  }
}

//  상세설명
.SearchPage__Items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 500px;
  gap: 20px;
  position: relative;
  // 책 제목
  h1 {
    font-size: 26px;
    width: 100%;
  }
  .SearchPage__Item {
    // 줄거리
    p:nth-child(1) {
      font-size: 16px;
      width: 100%;
      color: #595959;
    }
    // 태그
    p:nth-child(2) {
      font-size: 15px;
      margin-top: 10px;
      width: 100%;
    }
  }
}
.SearchPage__Price {
  position: absolute;
  bottom: 10px;
  // 판매가
  p:nth-child(1) {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  // 정가
  p:nth-child(2) {
    color: #808080;
    font-size: 15px;
  }
}

// 구매,대여 공통
.SearchPage__ButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;

  button {
    border-radius: 5px;
    margin: 5px;
    width: 80px;
    height: 45px;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-family: "SUITE-Regular";
    box-shadow: 3px 3px 3px gray;
  }

  // 구매버튼
  button:first-child {
    background-color: #df307f;
  }
  // 대여버튼
  button:last-child {
    background-color: #e24457;
  }
}
.no_content {
  width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 24px;
  }
}
// 페이지네이션
.pagination {
  ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    li {
      list-style: none;
    }

    .button_1 {
      width: 30px;
      height: 30px;
      background-color: #ca9f12;
      border: none;
      border-radius: 50%;
      margin: 0 5px;
      color: #fff;
      cursor: pointer;
    }
    .button_2 {
      width: 30px;
      height: 30px;
      background-color: #f0c741;
      border: 2px solid #ca9f12;
      border-radius: 50%;
      margin: 0 5px;
      color: #fff;
      cursor: pointer;
      box-shadow: 2px 2px 1.5px gray;
    }
  }
}
