.TopHeader-container{

  .TopHeader-container__text{
    width:700px;
    padding-bottom: 5px;
    left: 200px;
    margin-top: 10px;
    position: relative;
    list-style: none;
    letter-spacing: 0.03em;

    li:nth-child(1) {
      padding-bottom: 0px;
      letter-spacing: 0.03em;
      line-height: 1.5;
      width: auto;
      font-weight: bold;
    }

    li:nth-child(2) {
      width: 700px;
      margin-top: 8px;
      left: 100px;
      
      span{
        font-weight: bold;
        color: #eb217c;
      }
    }
  }
}