.books {
  display: flex;
  overflow: hidden;
  margin: 0 15px;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.left {
  background-color: #fed19a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  .tag-box {
    padding: 30px 10px;
    color: #555252;
    font-size: 15px;
    text-align: center;

    h1 {
      width: min-content;
    }
  }
}

.right {
  position: relative;
  background-color: #fff3e2;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid rgb(219, 218, 218);
  border-bottom: 1px solid rgb(219, 218, 218);
  border-right: 1px solid rgb(219, 218, 218);

  .Top-bookContainer {
    position: absolute;
    height: 3.1rem;
    width: 100%;
    z-index: 200;
    top: 43%;
  }

  .Bottom-bookContainer {
    position: absolute;
    width: 100%;
    height: 3.1rem;
    bottom: 0;
  }

  .book {
    position: relative;
    padding: 0 10px;
    text-align: center;
    width: 20%;

    img {
      border-radius: 10px;
      width: 100%;
      position: relative;
    }
  }

  h4 {
    margin: 10px 0;
  }
}

.hover-description {
  position: absolute;
  padding: 5%;
  width: calc(100% - 20px);
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  bottom: 45px;
  z-index: 2;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.discount {
  position: absolute;
  width: fit-content;
  line-height: 1.8;
  text-align: center;
  background-color: red;
  color: #fff;
  right: 10%;
  padding: 0 2px;
  overflow: hidden;
  z-index: 1;
}

.retail-price {
  text-decoration: line-through;
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
